In [21]:
import pandas as pd
from glob import glob

date_time = "2024-01-28_06:51"
date_time = "2024-01-28_06:54"
date_time = "2024-01-28_07:08"

date_time = "2024-01-28_07:11"
date_time = "2024-01-28_07:14"

date_time = "2024-01-28_17:40" #2014 => 17/0.3
date_time = "2024-01-28_17:42" #2013 => 10/0.66
date_time = "2024-01-28_17:44" #2012 => 13/4.1
date_time = "2024-01-28_17:46" #2011 => 21/3.4

date_time = "2024-01-29_13:04" #2011 => 21

# date_time = "2024-01-28_17:25" #2015 => 9 /3
# date_time = "2024-01-28_17:26" #2016 => 10 /7
# date_time = "2024-01-28_17:27" #2017 => -0.28 /4.4
# date_time = "2024-01-28_17:30" #2018 => 3.3 /4.5
# date_time = "2024-01-28_17:32" #2019 => -5.4 /-0.3
# date_time = "2024-01-28_17:34" #2020 => -3 /3
# date_time = "2024-01-28_17:35" #2021 => 3.4/3.3
# date_time = "2024-01-28_17:37" #2022 => 1.4 /2.2
# date_time = "2024-01-28_17:39" #2023 => 1.1/2.9

out_df_list = []
for out_csv in glob(f"/scratch/da2343/ml_project_2_{date_time}/results/*.csv"):
    out_df_list.append(pd.read_csv(out_csv))
return_df = pd.concat(out_df_list, axis=1)
# remove duplicate columns
return_df = return_df.loc[:, ~return_df.columns.duplicated()]

# fill in missing values with 0
return_df = return_df.fillna(0)

return_df['Mean Return'] = return_df.iloc[:, 1:].sum(axis=1)
return_df = return_df[['Month', 'Mean Return']]
return_df

    Month  Mean Return
0       1    -1.831501
1       2     9.138600
2       3     8.411026
3       4    -9.036843
4       5     1.911930
5       6     2.690245
6       7    10.508152
7       8    -1.262586
8       9    -7.475027
9      10     0.797432
10     11    11.192494
11     12    -4.750221